<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBookLabel" jhiTranslate="allianzQuoteMonoGradleApp.book.home.createOrEditLabel">Create or edit a Book</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!book.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="book.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="allianzQuoteMonoGradleApp.book.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="book.title" required />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="allianzQuoteMonoGradleApp.book.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="book.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="allianzQuoteMonoGradleApp.book.publicationDate" for="field_publicationDate">Publication Date</label>
            <div class="input-group">
                <input id="field_publicationDate" type="text" class="form-control" name="publicationDate" ngbDatepicker  #publicationDateDp="ngbDatepicker" [(ngModel)]="book.publicationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="publicationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="allianzQuoteMonoGradleApp.book.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="book.price"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="allianzQuoteMonoGradleApp.book.author" for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" [(ngModel)]="book.author" >
                <option [ngValue]="null"></option>
                <option [ngValue]="authorOption.id === book.author?.id ? book.author : authorOption" *ngFor="let authorOption of authors; trackBy: trackAuthorById">{{authorOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
